{% load static %}
{% include 'the_portfolio/base.html' %}


{% block body %}
<section id="home" style="background-image:url('{% static 'the_portfolio/main-bg.jpg' %}');background-size:cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4 mx-auto d-block text-center">
                <img id="personal-photo" alt="personal photo" class="img-fluid rounded-circle" src="{% static 'the_portfolio/Abod.jpg' %}"></img>
                <h2>Abdulqader Mohamed</h2>
                <strong><p id="bio">FULL STACK WEB DEVELOPER</p></strong>
                <a href="#projects" id="arrow-down-icon"><i class="fas fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="projects-container">
        <div id="project-one" class="project-card">

        </div>
        <div class="project-card">

        </div>
        <div class="project-card">

        </div>
        <div class="project-card">

        </div>
    </div>
</section>
<section id="contact-me">
    Contact
</section>



<script src="{% static 'the_portfolio/scrolling-animation.js' %}"></script>
{% endblock %}