{% load static %}
{% include 'the_portfolio/base.html' %}


{% block body %}
<section id="about-me">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4 mx-auto d-block text-center">
                <img alt="personal photo " class="img-fluid rounded-circle" src="{% static 'the_portfolio/personal_4.jpg' %}"></img>
                <h4>ABODXDGAMES</h4>
                <strong><p>FULL STACK WEB DEVELOPER</p></strong>
            </div>
        </div>
    </div>
</section>

<section id="contact-us">
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Some Data</th>
                        <th>Some Data</th>
                        <th>Some Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Some Data</td>
                        <td>Some Data</td>
                        <td>Some Data</td>
                    </tr>
                    <tr>
                        <td scope="row">Some Data</td>
                        <td>Some Data</td>
                        <td>Some Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}