{% load static %}
{% include 'the_portfolio/base.html' %}


{% block body %}
<section id="about-me">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4 mx-auto d-block text-center">
                <img alt="personal photo " class="img-fluid rounded-circle" src="{% static 'the_portfolio/personal.jpg' %}"></img>
                <h4>ABOD</h4>
                <strong><small>SELF TAUGHT , FULL STACK WEB DEVELOPER</small></strong>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <div class="card c-black bg-light mb-3" style="max-width: 18rem;">
                    <img alt="Card image cap" class="card-img-top p-2" src="http://dummyimage.com/900x500/4d494d/686a82.gif&text=project+one">
                        <div class="card-header">
                            My First Proejct
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae magni suscipit accusamus odit, voluptas eius, delectus, ex consectetur ratione quaerat assumenda numquam dolorum quae unde error nobis sapiente ipsum rerum dicta, fuga deleniti. Id fuga sint deleniti perspiciatis voluptatem excepturi earum eveniet aliquid laboriosam possimus, molestiae, nemo ex magni.
                            </p>
                        </div>
                    </img>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="education">
    <div class="container-fluid">
        <h4 class="text-center display-4">
            My Certifcates
        </h4>
        <div class="certifcate">
            <div class="row">
                <div class="col-auto">
                    <img alt="Responsive image" class="img-fluid" src="https://via.placeholder.com/200x200">
                    </img>
                </div>
                <div class="col">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia omnis ut sed pariatur, distinctio doloribus consectetur praesentium. Animi fugit, nihil enim recusandae excepturi libero adipisci dolore tempora quia, repudiandae aliquam molestiae ipsam saepe optio asperiores laborum officia assumenda, placeat id. Veniam eos ullam tempore facilis dolor quidem cupiditate modi aliquam?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-us">
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Some Data</th>
                        <th>Some Data</th>
                        <th>Some Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Some Data</td>
                        <td>Some Data</td>
                        <td>Some Data</td>
                    </tr>
                    <tr>
                        <td scope="row">Some Data</td>
                        <td>Some Data</td>
                        <td>Some Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
