/* Coolors Exported Palette - coolors.co/d3d4d9-bb0a21-252627-28587b-fff9fb */

/* HSL */
$color1: hsla(230%, 7%, 84%, 1);
$color2: hsla(352%, 90%, 39%, 1);
$color3: hsla(210%, 3%, 15%, 1);
$color4: hsla(205%, 51%, 32%, 1);
$color5: hsla(340%, 100%, 99%, 1);

/* RGB */
$color1: rgba(211, 212, 217, 1);
$color2: rgba(187, 10, 33, 1);
$color3: rgba(37, 38, 39, 1);
$color4: rgba(40, 88, 123, 1);
$color5: rgba(255, 249, 251, 1);