body{
	color:#D3D4D9
}
a:hover{
	text-decoration: none;
}
.c-black{
	color:#252627;
}

#about-me{
	min-height: 94vh;
	padding: 5vh;
	background-color: #db384e;
}

#projects{
	min-height: 100vh;
	padding: 5vh;
	background-color: #28587B;
	text-align: center;
}
#contact-us{
	min-height: 100vh;
	padding: 5vh;
	background-color: #db384e;
}